<div class="tutor-grid">
    <div class="tutor-card green">
        <div class="upper-tutor-card">
            <div class="tutor-img">
                <img src="/assets/images/sherlock-edited-scaled.jpeg" alt="">
            </div>
            <div class="tutor-info">
                <h5 class="tutor-name">Anjali Sharma</h5>

                <ul class="tutor-details">
                    <li><strong>Classes:</strong> 6th – 10th</li>
                    <li><strong>Subjects:</strong> Maths, Science</li>
                    <li><strong>Experience:</strong> 5 Years</li>
                </ul>
            </div>
        </div>
        <div class="lower-tutor-card">
            <p class="tutor-education">
                <strong>Education:</strong> B.Sc Mathematics, Delhi University
            </p>
        </div>
    </div>
    <div class="tutor-card pink">
        <div class="upper-tutor-card">
            <div class="tutor-img">
                <img src="/assets/images/sherlock-edited-scaled.jpeg" alt="">
            </div>
            <div class="tutor-info">
                <h5 class="tutor-name">Anjali Sharma</h5>

                <ul class="tutor-details">
                    <li><strong>Classes:</strong> 6th – 10th</li>
                    <li><strong>Subjects:</strong> Maths, Science</li>
                    <li><strong>Experience:</strong> 5 Years</li>
                </ul>
            </div>
        </div>
        <div class="lower-tutor-card">
            <p class="tutor-education">
                <strong>Education:</strong> B.Sc Mathematics, Delhi University
            </p>
        </div>
    </div>
    <div class="tutor-card blue">
        <div class="upper-tutor-card">
            <div class="tutor-img">
                <img src="/assets/images/sherlock-edited-scaled.jpeg" alt="">
            </div>
            <div class="tutor-info">
                <h5 class="tutor-name">Anjali Sharma</h5>

                <ul class="tutor-details">
                    <li><strong>Classes:</strong> 6th – 10th</li>
                    <li><strong>Subjects:</strong> Maths, Science</li>
                    <li><strong>Experience:</strong> 5 Years</li>
                </ul>
            </div>
        </div>
        <div class="lower-tutor-card">
            <p class="tutor-education">
                <strong>Education:</strong> B.Sc Mathematics, Delhi University
            </p>
        </div>
    </div>
    <div class="tutor-card purple">
        <div class="upper-tutor-card">
            <div class="tutor-img">
                <img src="/assets/images/sherlock-edited-scaled.jpeg" alt="">
            </div>
            <div class="tutor-info">
                <h5 class="tutor-name">Anjali Sharma</h5>

                <ul class="tutor-details">
                    <li><strong>Classes:</strong> 6th – 10th</li>
                    <li><strong>Subjects:</strong> Maths, Science</li>
                    <li><strong>Experience:</strong> 5 Years</li>
                </ul>
            </div>
        </div>
        <div class="lower-tutor-card">
            <p class="tutor-education">
                <strong>Education:</strong> B.Sc Mathematics, Delhi University
            </p>
        </div>
    </div>
    <div class="tutor-card orange">
        <div class="upper-tutor-card">
            <div class="tutor-img">
                <img src="/assets/images/sherlock-edited-scaled.jpeg" alt="">
            </div>
            <div class="tutor-info">
                <h5 class="tutor-name">Anjali Sharma</h5>

                <ul class="tutor-details">
                    <li><strong>Classes:</strong> 6th – 10th</li>
                    <li><strong>Subjects:</strong> Maths, Science</li>
                    <li><strong>Experience:</strong> 5 Years</li>
                </ul>
            </div>
        </div>
        <div class="lower-tutor-card">
            <p class="tutor-education">
                <strong>Education:</strong> B.Sc Mathematics, Delhi University
            </p>
        </div>
    </div>
</div>